body {
    margin: 0;
    width: 400px;
    height: 600px;
}

#box {
    text-align: center;
}

#url {
    width: 100%;
    text-overflow: ellipsis;
}

#user-id {
    display: inline-block;
    width: 100%;
}

.align-left {
    text-align: left;
}