body {
    margin: 0;
    width: 400px;
    height: 600px;
}

#box {
    text-align: center;
}

#kuaishou, #xiaohongshu {
    width: 100%;
    text-overflow: ellipsis;
}

#kuaishou—label, #xiaohongshu-label {
    display: inline-block;
    width: 100%;
}